---
- name: Install fail2ban
  dnf:
    name: fail2ban
    state: present

- name: Deploy jail.local
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime  = 1h
      findtime = 10m
      maxretry = 5
      backend  = systemd

      [sshd]
      enabled  = true
      port     = {{ ssh_port | default('22') }}
      logpath  = %(sshd_log)s

      [nginx-http-auth]
      enabled  = true
      port     = http,https
      logpath  = %(nginx_error_log)s

      [nginx-limit-req]
      enabled  = true
      port     = http,https
      logpath  = %(nginx_error_log)s
    mode: "0644"
  notify: Restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: true
    state: started
